body {
  background: url(../img/fondo4.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}
body .bx-cart {
  font-size: 3rem;
  margin: 26px 10px 0px;
  cursor: pointer;
  color: black;
  border: solid 3px black;
  border-radius: 10px;
  background-color: white;
}
body .bx-cart:hover {
  opacity: 0.7;
  border: solid 3px rgb(68, 59, 59);
}
body .cart {
  position: absolute;
  top: 0;
  right: -100%;
  width: 300px;
  min-height: 100vh;
  padding: 10px;
  background-color: #fff;
  box-shadow: -2px 0 4px hsla(0deg, 4%, 15%, 0.1);
  transition: 0.2s;
}
body .cart-logo-quantity {
  font-size: 18px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  top: 14px;
  right: 7px;
}
body .cart-logo-quantity2 {
  font-size: 18px;
  background-color: rgba(93, 230, 59, 0.9);
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
}
body .cart.active {
  right: 0;
  overflow-y: scroll;
  height: 100vh;
}
body .cart-tittle {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}
body .cart-box {
  display: grid;
  grid-template-columns: 32% 40% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
body .cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
body .detail-box {
  display: grid;
  row-gap: 0.1rem;
}
body .cart-product-title {
  font-size: 0.9rem;
  text-transform: uppercase;
}
body .cart-price {
  font-weight: 600;
  font-size: 0.8rem;
}
body .cart-quantity {
  border: 1px solid black;
  outline-color: #25faef;
  width: 2.4rem;
  text-align: center;
  font-size: 0.8rem;
}
body .cart-remove {
  font-size: 24px;
  color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}
body .cart-remove:hover {
  color: #ff0000;
}
body .total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
body .total-title {
  font-size: 1rem;
  font-weight: 600;
}
body .total-price {
  margin-left: 0.5rem;
}
body .btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: solid 3px rgb(0, 177, 9);
  border-radius: 3px;
  color: black;
  background: rgba(93, 230, 59, 0.8);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
body .btn-buy:hover {
  background: rgb(51, 255, 0);
}
body #close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
body .contenedor-carrito {
  display: flex;
  width: 100%;
  justify-content: end;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
body a {
  text-decoration: none;
}
body .fondofooter {
  background-color: rgba(255, 255, 255, 0.5);
}
body .fondofooter .footerig {
  color: rgb(247, 59, 26);
}
body .fondofooter .footerig:hover {
  color: rgb(192, 34, 179);
}
body .fondofooter .footerfb {
  color: blue;
}
body .fondofooter .footerfb:hover {
  color: rgb(35, 140, 209);
}
body footer {
  border-top: 2px solid rgb(80, 79, 79);
  border-bottom: 2px solid rgb(80, 79, 79);
  font-family: "Kalam", cursive;
}
body .header {
  background-color: #20bbb3;
  font-family: "Kalam", cursive;
}
body .header h1 {
  font-size: 3rem;
  margin-top: 15px;
}
body .prodTit {
  font-family: "Kalam", cursive;
}
body .contactTit {
  font-family: "Kalam", cursive;
}
body .mainindex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body .mainindex .contenedor1 {
  width: 60%;
  margin-bottom: 0px;
}
body .mainindex .contenedor2 {
  width: 79%;
  margin-bottom: 0px;
}
body .mainindex .contenedor2 .contindex2 span {
  margin-bottom: 15px;
}
body .mainindex .contenedor2 .contindex2 span:hover {
  background-color: rgba(21, 117, 161, 0.4);
}
body .mainindex .contenedor3 {
  margin-bottom: 0px;
}
body .mainindex .contenedor3 p {
  font-size: 1.1rem;
  justify-content: center;
  padding: 5px;
  margin-top: 10px;
}
body header {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 2px 0;
  box-shadow: inset 1.5em 2em 1.5em rgba(0, 0, 0, 0.15), inset 0.2em 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
body .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
body h3 {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
body #registroLogin {
  display: flex;
  background-color: rgba(60, 213, 233, 0.6);
  justify-content: space-evenly;
  align-content: space-between;
}
body .login {
  margin: 5px;
  padding: 5px;
  border: solid 2px rgb(223, 248, 252);
  border-radius: 10px;
  font-size: 0.7rem;
}
body .login input {
  margin-bottom: 3px;
  width: 100%;
}
body .login h4 {
  font-size: 1rem;
  margin-left: 90px;
  text-decoration: underline;
}
body .login #submitLogin {
  width: 70%;
  border: solid 2px rgba(39, 38, 38, 0.6);
  border-radius: 5px;
  margin-left: 35px;
}
body .login #submitRegistro {
  width: 70%;
  border: solid 2px rgba(39, 38, 38, 0.6);
  border-radius: 5px;
  margin-left: 35px;
}

.divBandejas, .divMuebles, .divCajas {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.divBandejas p, .divMuebles p, .divCajas p {
  font-size: 0.8rem;
  margin-bottom: 1px;
}

.card {
  margin-bottom: 0.5rem;
  text-align: center;
  border: solid 2px rgb(29, 197, 248);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  opacity: 0.95;
}
.card:hover {
  border: solid 2px rgb(18, 125, 158);
  transition: 0.1s;
  opacity: 1;
}

.img-card {
  height: 100%;
  width: 100%;
  max-height: 180px;
  max-width: 180px;
  margin: 10px;
}

.titulo-card {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-card {
  font-size: 0.8rem;
  border-radius: 10px;
  margin: 0px 5px 5px;
}
.btn-card:hover {
  background-color: rgb(29, 197, 248);
  opacity: 0.8;
}

.bx-plus-circle {
  color: green;
  margin: 0 6px 0 0;
  cursor: pointer;
}
.bx-plus-circle:hover {
  transition: 0.1s;
  color: #3ce413;
}

.bx-minus-circle {
  color: rgba(226, 4, 4, 0.8);
  margin: 0 0 0 6px;
  cursor: pointer;
}
.bx-minus-circle:hover {
  transition: 0.1s;
  color: #ff0000;
}

#minusPlus {
  display: flex;
  align-items: center;
}

.estructura {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #20bbb3;
}
.estructura .titulosprod {
  text-align: center;
  margin: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
  text-decoration: underline;
}
.estructura .titulosprod2 {
  font-family: "Rubik Distressed", cursive;
}
.estructura .carrete {
  width: 400px;
  border: 2px solid black;
  padding: 0px;
  margin: 25px;
  justify-content: center;
}
.estructura .carrete .img-catalogo {
  height: 400px;
}
.estructura .img-left {
  float: none;
  margin: 0 auto 0;
}
.estructura .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.estructura .img-nosotros {
  margin-bottom: 20px;
}
.estructura iframe {
  margin-bottom: 20px;
}
.estructura .pnosotros {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
.estructura .h2prod {
  text-align: center;
  font-size: 1rem;
}
.estructura .h3index {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}
.estructura .templodelarte h3 {
  font-size: 1.6rem;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid rgb(133, 128, 128);
  border-top: 2px solid rgb(133, 128, 128);
  border-radius: 10%;
  width: 100%;
  margin-bottom: 20px;
}
.estructura .logo {
  width: 80px;
  height: 80px;
  margin: 10px 0px;
}
.estructura .logo2 {
  width: 70px;
  height: 70px;
  margin: 10px 10px;
}
.estructura h5 {
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(252, 252, 252, 0.5);
}

.contindex {
  display: flex;
  justify-content: center;
}
.contindex .h3inicio {
  font-size: 1.1rem;
  opacity: 0.7;
  border-bottom: 3px solid rgba(75, 73, 73, 0.6);
  border-radius: 5%;
  padding: 5px 40px;
  text-align: center;
}

.contindex2 {
  display: flex;
  justify-content: center;
}
.contindex2 .contindex5 {
  display: flex;
  justify-content: center;
  background-color: rgba(42, 216, 207, 0.4);
  width: 100%;
  text-align: center;
  border: 3px solid gray;
  border-radius: 15%;
  padding: 5px;
  font-size: 1.5rem;
  color: rgb(75, 73, 73);
  font-family: "Rubik Distressed", cursive;
}
.contindex2 .h4inicio {
  font-size: 1.4rem;
  text-align: center;
}

.btn {
  margin-bottom: 15px;
  border: 2px solid rgb(114, 106, 106);
  background-color: #fff;
}

.iconosnav {
  color: rgb(255, 255, 255);
}
.iconosnav :hover {
  color: black;
}

.iconosnav:hover {
  color: black;
}

.iconosnavactivo {
  color: rgb(71, 66, 69);
}

.iconosnavactivo:hover {
  color: rgb(71, 66, 69);
}

@media (max-width: 992px) {
  h3 {
    width: 100% !important;
    text-align: center;
  }
  .estructura {
    margin: 20px 20px;
  }
  body .header h1 {
    font-size: 2.3rem;
  }
  .cajaspc {
    display: none;
  }
  .about {
    display: none;
  }
}
@media (min-width: 993px) {
  .cajascel {
    display: none;
  }
  body .header a {
    margin: 5px 30px;
  }
  .iconosnav {
    font-size: 1.4rem;
  }
  .iconosnavactivo {
    font-size: 1.4rem;
  }
}
@media (max-width: 499px) {
  .estructura {
    margin: 10px 10px;
  }
  .estructura .carrete .img-catalogo {
    height: 340px;
  }
  .header .nav-link {
    padding: 8px 8px;
  }
  footer div span {
    font-size: 0.9rem;
  }
  body .header h1 {
    font-size: 1.8rem;
  }
  body .header a {
    margin-top: 10px;
  }
  .contindex2 .contindex5 {
    font-size: 1.3rem;
  }
  .contindex .h3inicio {
    font-size: 1.1rem;
  }
  body .login input {
    width: 100%;
  }
  body .login h4 {
    font-size: 0.8rem;
    margin-left: 60px;
  }
  body .login #userRegistro {
    margin-left: 0px;
  }
  body .login #emailRegistro {
    margin-left: 0px;
  }
  body .login #emailLogin {
    margin-left: 0px;
    margin-top: 0px;
  }
  body .login #submitLogin {
    margin-left: 25px;
  }
  body .login #submitRegistro {
    margin-left: 25px;
  }
  .divBandejas, .divCajas, .divMuebles {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-card {
    height: 100%;
    width: 100%;
    max-height: 100px;
    max-width: 100px;
    margin: 10px;
  }
  .divTituloProductos {
    display: none;
  }
}
@media (max-width: 380px) {
  .header .nav-link {
    padding: 4px 4px;
    justify-content: space-between;
  }
  body .header h1 {
    font-size: 1.5rem;
  }
  body .header a {
    margin: 10px 2px;
  }
  footer div span {
    font-size: 0.8rem;
  }
  .estructura .carrete .img-catalogo {
    height: 250px;
  }
}

/*# sourceMappingURL=estilos.css.map */
