body {
    background: url(../img/fondo4.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    .bx-cart{
        font-size: 3rem;
        margin: 26px 10px 0px;
        cursor: pointer;
        color: black;
        border: solid 3px black;
        border-radius: 10px;
        background-color: white;
        &:hover{
            opacity: 0.7;
            transition: 0.2s;
            border: solid 3px rgb(68, 59, 59);
        }
    }
    .cart{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        min-height: 100vh;
        padding: 10px;
        background-color: #fff;
        box-shadow: -8px 0px 10px rgba(0, 0, 0, .5);
        transition: 0.2s;
    }
    .cart-logo-quantity{
        font-size: 18px;
        background-color: rgb(255, 0, 0);
        color: #fff;
        padding: 4px;
        border-radius: 4px;
        position: absolute;
        top: 14px;
        right: 7px;
    }
    .cart-logo-quantity2{
        font-size: 18px;
        background-color: rgb(93, 230, 59, 0.9);
        color: #fff;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
        padding: 4px;
        border-radius: 4px;
        position: absolute;
    }
    .cart.active{
        right: 0;
        overflow-y: scroll;
        height: 100vh;
    }
    .cart-tittle{
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
    }
    .cart-box{
        display: grid;
        grid-template-columns: 32% 40% 18%;
        align-items: center;
        gap: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 15px;
    }
    .cart-img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        padding: 10px;
    }
    .detail-box{
        display: grid;
        row-gap: 0.1rem;
    }
    .cart-product-title{
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    .cart-price{
        font-weight: 600;
        font-size: 0.8rem;
    }
    .cart-quantity{
        border: 1px solid black;
        outline-color: #25faef;
        width: 2.4rem;
        text-align: center;
        font-size: 0.8rem;
    }
    .cart-remove{
        font-size: 24px;
        color: rgb(255, 0, 0, 0.8);
        cursor: pointer;
        &:hover{
            color: #ff0000;
            transition: all 300ms ease-out;
            transform: scale(1.25);
        }
    }
    .total{
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
        border-top: 1px solid black;
    }
    .total-title{
        font-size: 1rem;
        font-weight: 600;
    }
    .total-price{
        margin-left: 0.5rem;

    }
    .btn-buy{
        display: flex;
        margin: 1.5rem auto 0 auto;
        padding: 12px 20px;
        border: solid 3px rgb(0, 177, 9);
        border-radius: 3px;
        color: black;
        background: rgb(93, 230, 59, 0.8);
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
        &:hover{
            background: rgb(51, 255, 0, 0.9);
            transition: all 300ms ease-out;
            transform: scale(1.15);
        }
    }
    #close-cart{
        position: absolute;
        top: 1rem;
        right: 0.8rem;
        font-size: 2rem;
        color: black;
        cursor: pointer;
        &:hover{
            font-weight: 700;
            transform: rotate(90deg);
            transition: 0.3s ease;
        }
    }
    .contenedor-carrito{
        display: flex;
        width: 100%;
        justify-content: end;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
    }
    a{
        text-decoration: none;
    }
    .fondofooter{
        background-color: rgba(255, 255, 255, 0.5);
        .footerig{
            color: rgb(247, 59, 26);
            &:hover{
                color: rgb(192, 34, 179);
            }
        }
        .footerfb{
            color: blue;
            &:hover{
                color: rgb(35, 140, 209);
            }
        }
    }
    footer{
            border-top: 2px solid rgb(80, 79, 79);
            border-bottom: 2px solid rgb(80, 79, 79);
            font-family: 'Kalam', cursive;
            
    }
    .header{
        background-color: #20bbb3;
        font-family: 'Kalam', cursive;
        overflow: hidden;
        
        h1{
            font-size: 2.4rem;
            margin-top: 10px;
        }
        
    }
    .prodTit{
        font-family: 'Kalam', cursive;
    }
    .contactTit{
        font-family: 'Kalam', cursive;
    }
    .form-control{
        resize: none;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
    }
    .text-right{
        text-align: end;
        font-size: 1rem;
    }
    .btnFin{
        display: flex;
        justify-content: end;
    }
    #enviar{
        font-size: 1.1rem;
        border: solid 3px rgb(0, 177, 9);
        border-radius: 3px;
        color: black;
        background: rgb(93, 230, 59, 0.8);
        font-weight: 500;
        cursor: pointer;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
        &:hover{
            background: rgb(51, 255, 0, 0.9);
            transition: all 300ms ease-out;
            transform: scale(1.1);
        }
    }
    .estructuraCompra{
        padding: 1rem;
    }
    
    .mainindex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .contenedor1{
            width: 60%;
            margin-bottom: 0px;
        }
        .contenedor2{
            width: 79%;
            margin-bottom: 0px;
            .contindex2 span{
                margin-bottom: 15px;
            }
            .contindex2 span:hover{
                background-color: rgba(21, 117, 161, 0.4);
                    transition: all 200ms ease-out;
                    transform: scale(1.07);
            }
        }
        .contenedor3{
            margin-bottom: 0px;
            p{
                font-size: 1.1rem;
                justify-content: center;
                padding: 5px;
                margin-top: 10px;
            }
        }
    }
    header{
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 2px 0;
        box-shadow: inset 2em 2.5em 3em rgba(0, 0, 0, 0.4), inset .2em .125em .5em rgba(0, 0, 0, 0.4);
    }
    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }
    h3{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .carousel{
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
        :hover{
            img{
                transition: all 400ms ease-out;
                transform: scale(1.05);
            }
        }
    }
    .carousel-control-next-icon{
        height: 5rem;
        width: 5rem;
    }
    .carousel-control-prev-icon{
        height: 5rem;
        width: 5rem;
    }

    // Login

    /* #registroLogin{
        display: flex;
        background-color: rgb(60, 213, 233, 0.6);
        justify-content: space-evenly;
        align-content: space-between;
    }
    .login{
        input{
            margin-bottom: 3px;
            width: 100%;
        }
        h4{
            font-size: 1rem;
            margin-left: 90px;
            text-decoration: underline;
        }
        margin: 5px;
        padding: 5px;
        border: solid 2px rgb(223, 248, 252);
        border-radius: 10px;
        font-size: 0.7rem;
        #submitLogin{
            width: 70%;
            border: solid 2px rgb(39, 38, 38, 0.6);
            border-radius: 5px;
            margin-left: 35px;
        }
        #submitRegistro{
            width: 70%;
            border: solid 2px rgb(39, 38, 38, 0.6);
            border-radius: 5px;
            margin-left: 35px;
        }

    } */
}
///// SECTION INDEX DESTACADOS
#new{
    border-bottom: 3px solid #20bbb3;
    .one{
        contain:content;
        .details{
            display: flex;
            contain: content;
            position:absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.3s ease;
            &:hover{
                cursor: pointer;
                background-color: rgb(32, 238, 228, 0.5);
            }
            h2{
                font-weight: 600;
                font-size: 24px;
                color: #2a2a2a;
                margin: 5px;
            }
            .h2contact{
                font-size: 19px;
                font-weight: 800;
                margin: 10px 10px 0 0;
            }
            
            button{
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                color: #2a2a2a;
                background: none;
                border: none;
                text-transform: uppercase;
                border-bottom: 1px solid #2a2a2a;
                padding: 3px;
                margin: 3px;
                margin-bottom: 80px;
                transform: translateY(70px);
                transition: 0.3s ease;
                &:hover{
                    color: rgb(223, 251, 255);
                    border-bottom: 1px solid #fff;
                }
            }
        }
        .img-fluid{
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            max-height: 400px;
        }
        
    }
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        color: #ffffff;
    }
    button{
        color: #ffffff;
        &:hover{
            color:#3a3a3a
        }
    }
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

///////// Cards de Productos
.divBandejas{
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    p{
        font-size: 0.8rem;
        margin-bottom: 1px;
    }
    :hover{
        img{
            transition: all 400ms ease-out;
            transform: scale(1.1);
        }
    }
}
.divCajas{
    @extend .divBandejas
}
.divMuebles{
    @extend .divBandejas
}
.card {
    margin-bottom: 0.5rem;
    text-align: center;
    border: solid 2px rgb(29, 197, 248);
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    opacity: 0.95;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    &:hover{
        border: solid 2px rgb(18, 125, 158);
        transition: 0.1s;
        opacity: 1;
    }

}
.img-card{
    height: 100%;
    width: 100%;
    max-height: 180px;
    max-width: 180px;
    margin: 10px;
}
.img-card.cart-img{
    margin: 0px;
}
.titulo-card{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-card{
    font-size: 0.8rem;
    border-radius: 10px;
    margin: 0px 5px 5px;
    background-color: rgb(29, 197, 248, 0.5);
    &:hover{
        background-color: #3ce413;
        opacity: 0.8;
    }
}

.bx-plus-circle{
    color: green;
    margin: 0 6px 0 0;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover{
        color: #3ce413;
        transition: all 300ms ease-out;
        transform: scale(1.2);
    }
}
.bx-minus-circle{
    color: rgba(226, 4, 4, 0.8);
    margin: 0 0 0 6px;
    cursor: pointer;
    font-size: 1.2rem;
    &:hover{
        color: #ff0000;
        transition: all 300ms ease-out;
        transform: scale(1.2);
    }
}
#minusPlus{
    display: flex;
    align-items: center;
}

//////////// POP UP PRODUCTOS
.products-preview{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    .preview{
        display: none;
        padding: 2rem;
        text-align: center;
        background: #fff;
        position: relative;
        margin: 2rem;
        width: 80%;
        .desc{
            font-size: 0.8rem;
            color: #777;
        }
        h3{
            color: #444;
            font-size: 1.6rem;
            justify-content: center;
        }
        .stars{
            padding: 1rem 0;
            font-size: 1.2rem;
            i{
                color: #27ae60;
            }
            span{
                color: #999;
            }
        }
        .bx-x{
            position: absolute;
            top: 0.7rem;
            right: 0.7rem;
            cursor: pointer;
            color: #2a2a2a;
            font-size: 4rem;
            &:hover{
                transform: rotate(90deg);
                transition: 0.3s ease;
            }
        }
        img{
            height: 20rem;
        }
        .price{
            font-size: 1.4rem;
            color: #27ae60;
        }
        #buttons{
           
                margin-top: 2rem;
                padding: 1rem;
                font-size: 1rem;
                color: #444;
                border: 1px solid #444;
                background-color: rgb(29, 197, 248, 0.5);
                box-shadow: 7px 7px 10px rgba(0, 0, 0, .5);
                &:hover{
                    cursor: pointer;
                    background-color: #3ce413;
                    opacity: 0.8;
                    color: #fff;
                }
            }
    }
    .preview.active{
        display: inline-block;
    }
}

////////////// Estructura //////////////
.estructura{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
    background-color: rgba(255, 255, 255, 0.7) ;
    border: 3px solid #20bbb3;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, .5);
    .titulosprod{
        text-align: center;
        margin: 10px;
        font-size: 2rem;
        margin-bottom: 20px;
        text-decoration:underline;
    }
    .titulosprod2{
        font-family: 'Rubik Distressed', cursive;
    }
    .carrete{
        width: 400px;
        border: 2px solid black;
        padding: 0px;
        margin: 25px;
        justify-content: center;
        .img-catalogo{
            height: 400px;
        }
    }

    .img-left{
        float: none;
        margin: 0 auto 0;
    }
    .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .img-nosotros{
        margin-bottom: 20px;
    }
    iframe{
        margin-bottom: 20px;
    }
    .pnosotros{
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
    }
    .h2prod{
        text-align: center;
        font-size: 1rem;
    }
    .h3index{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    }
    .templodelarte h3{
        font-size: 1.6rem;
        text-align: center;
        justify-content: center;
        border-bottom: 2px solid rgb(133, 128, 128);
        border-top: 2px solid rgb(133, 128, 128);
        border-radius: 10%;
        width: 100%;
        margin-bottom: 20px;
    }
    .logo {
        width: 80px;
        height: 80px;
        margin: 10px 0px;
    }
    .logo:hover{
        transition: all 300ms ease-out;
        transform: scale(1.2);
    }
    .logo2 {
        width: 70px;
        height: 70px;
        margin: 10px 10px;
    }
    .logo2:hover{
        transition: all 300ms ease-out;
        transform: scale(1.2);
    }
    h5{
        font-size: 1.1rem;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(252, 252, 252, 0.5);
        
    }
}

//// Efecto Burbujas ////

.burbuja{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 3%; 

    animation: burbujas 1.8s linear infinite;
}
.burbuja:nth-child(1){
    width: 24px;
    height: 24px;
    left: 3%;
    animation-duration: 2.6s;
}
.burbuja:nth-child(2){
    width: 25px;
    height: 25px;
    left: 15%;
    animation-duration: 3.8s;
}
.burbuja:nth-child(3){
    width: 16px;
    height: 16px;
    left: 25%;
    animation-duration: 2.1s;
}
.burbuja:nth-child(4){
    width: 22px;
    height: 22px;
    left: 30%;
    animation-duration: 2.2s;
}
.burbuja:nth-child(5){
    width: 12px;
    height: 12px;
    left: 40%;
    animation-duration: 1.9s;
}
.burbuja:nth-child(6){
    width: 10px;
    height: 10px;
    left: 44%;
    animation-duration: 3s;
}
.burbuja:nth-child(7){
    width: 10px;
    height: 10px;
    left: 19%;
    animation-duration: 2.2s;
}
.burbuja:nth-child(8){
    width: 16px;
    height: 16px;
    left: 60%;
    animation-duration: 2.4s;
}
.burbuja:nth-child(9){
    width: 14px;
    height: 14px;
    left: 66%;
    animation-duration: 3.4s;
}
.burbuja:nth-child(10){
    width: 22px;
    height: 22px;
    left: 50%;
    animation-duration: 3.6s;
}
.burbuja:nth-child(11){
    width: 23px;
    height: 23px;
    left: 76%;
    animation-duration: 2.5s;
}
.burbuja:nth-child(12){
    width: 15px;
    height: 15px;
    left: 80%;
    animation-duration: 3.5s;
}
.burbuja:nth-child(13){
    width: 10px;
    height: 10px;
    left: 84%;
    animation-duration: 2.6s;
}
.burbuja:nth-child(14){
    width: 26px;
    height: 26px;
    left: 88%;
    animation-duration: 3.2s;
}
.burbuja:nth-child(15){
    width: 10px;
    height: 10px;
    left: 92%;
    animation-duration: 2.4s;
}
.burbuja:nth-child(16){
    width: 12px;
    height: 12px;
    left: 8%;
    animation-duration: 3.5s;
}
.burbuja:nth-child(17){
    width: 13px;
    height: 13px;
    left: 94%;
    animation-duration: 3.5s;
}

@keyframes burbujas{
    0%{
        top: 20%;
        opacity: 0;
    }
    15%{
        opacity: 0.05;
    }
    40%{
        transform: translateX(5px);
    }
    50%{
        opacity: .2;
    }
    70%{
        transform: translateX(-2px);
    }
    100%{
        top: 0%;
        opacity: 0;
    }
}

////////////////// Contenedores //////////////////
.contindex{
    display: flex;
    justify-content: center;
    .h3inicio{
        font-size: 1.1rem;
        opacity: 0.7;
        border-bottom: 3px solid rgb(75, 73, 73, 0.6);
        border-radius: 5%;
        padding: 5px 40px;
        text-align: center;
    }
}
.contindex2{
    display: flex;
    justify-content: center;
    .contindex5{
        display: flex;
        justify-content: center;
        background-color: rgb(42, 216, 207, 0.4);
        width: 100%;
        text-align: center;
        border: 3px solid gray;
        border-radius: 15%;
        padding: 5px;
        font-size: 1.8rem;
        font-weight:lighter;
        color: rgb(75, 73, 73);
        font-family: 'Rubik Distressed', cursive;
    }
    .h4inicio{
        font-size: 1.4rem;
        text-align: center;
    }
}
///////////////////////////// Iconos /////////////////////////////
.btn{
    margin-bottom: 15px;
    border: 2px solid rgb(114, 106, 106);
    background-color: #fff;
}
.iconosnav{
    color: rgb(255, 255, 255);
    & :hover{
        color: black;
    }
}
.iconosnav:hover{
    color: black;
}
.iconosnavactivo{
    color: rgb(71, 66, 69);
}
.iconosnavactivo:hover{
    color: rgb(71, 66, 69);
}


 ////////////////////////////////// MEDIA QUERIES //////////////////////////////////

@media (max-width: 992px) {
    h3{
       width: 100% !important;
       text-align: center;
    }
    .estructura{
        margin: 20px 20px;
    }
    body .header h1{
        font-size: 2.3rem;
        margin-top: 22px;
    }
    .cajaspc{
        display: none;
    }
    .about{
        display: none;
    }
}

@media (min-width:993px){
    .cajascel{
        display: none;
    }
    body .header a{
        margin:5px 30px;
    }
    .iconosnav{
        font-size: 1.4rem;
    }
    .iconosnavactivo{
        font-size: 1.4rem;
    }
}
@media (max-width: 700px) {
    .products-preview .preview img{
        width: 85%;
        height: auto;
    }
    .products-preview .preview .bx-x{
        right: 0.1rem;
        top: 0.1rem;
    }
}
@media (max-width:499px){
    .estructura{
        margin: 10px 10px;
        .carrete .img-catalogo{
            height: 340px;
        }
    }
    .header .nav-link{
        padding: 8px 8px;
    }
    footer div span{
        font-size: 0.9rem;
    }
    body .header h1{
        font-size: 2rem;
    }
    body .header a{
        margin-top: 10px;
    }
    .contindex2 .contindex5{
        font-size: 1.3rem;
    }
    .contindex .h3inicio{
        font-size: 1.1rem;
    }
    body{

    .login{
        input{
            width: 100%;
        }
        h4{
            font-size: 0.8rem;
            margin-left: 60px;
        }
        #userRegistro{
            margin-left: 0px;
        }
        #emailRegistro{
            margin-left: 0px;
        }
        #emailLogin{
            margin-left: 0px;
            margin-top: 0px;
        }
        #submitLogin{
            margin-left: 25px;
        }
        #submitRegistro{
            margin-left: 25px;
        }
    }
    }
    .divBandejas{
        grid-template-columns: repeat(2, 1fr);
    }
    .divCajas{
        grid-template-columns: repeat(2, 1fr);
    }
    .divMuebles{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-card{
        height: 100%;
        width: 100%;
        max-height: 100px;
        max-width: 100px;
        margin: 10px;
    }
    .divTituloProductos{
        display: none;
    }
    #new .one .details .h2contact{
        font-size: 24px;
    }
    .tableHead{
        font-size: 0.7rem;
    }
    .cSubTotal{
        font-size: 0.8rem;
    }
    .cPrecio{
        font-size: 0.8rem;
    }
    .cTitulo{
        font-size: 0.8rem;
    }
    .cCantidad{
        font-size: 0.8rem;
    }
    #img-compra{
        width: 90px;
    }
}
@media (max-width:420px){
    .tableHead{
        font-size: 0.6rem;
    }
    .cSubTotal{
        font-size: 0.6rem;
    }
    .cPrecio{
        font-size: 0.6rem;
    }
    .cTitulo{
        font-size: 0.6rem;
    }
    .cCantidad{
        font-size: 0.6rem;
    }
    #img-compra{
        width: 80px;
        padding: 5px;
    }
    #cTotal{
        font-size: 0.7rem;
    }
    tbody th p{
        font-size: 0.7rem;
    }
}
@media (max-width:385px){
    .header .nav-link{
        padding: 4px 4px;
        justify-content: space-between;}
    body .header h1{
        font-size: 1.5rem;
    }
    body .header a{
        margin:10px 2px;
    }
    footer div span{
        font-size: 0.8rem;
    }
    .estructura .carrete .img-catalogo{
        height: 250px;
    }
    
    
}