body {
    background: url(../theme-bootstrap/212/img/fondo4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
footer{
    border-top: 2px solid rgb(80, 79, 79);
    border-bottom: 2px solid rgb(80, 79, 79);
    font-weight: bold;
}
.fondofooter{
    background-color: rgba(255, 255, 255, 0.4)
}
.header{
    background-color: #20bbb3;
}

.img-catalogo{
    height: 400px;
}
.carrete{
    width: 400px;
    border: 2px solid black;
    padding: 0px;
    margin: 25px;
    justify-content: center;
}
.carrousele{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
    background-color: rgba(255, 255, 255, 0.6) ;
    border: 3px solid #20bbb3;
}
.titulosprod{
    text-align: center;
    margin: 10px;
    font-size: 2rem;
}
h3{
    margin-top: 20px!important;
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {
    h3{
       width: 100% !important;
       text-align: center;
    }
    .carrousele{
        margin: 30px 10px;
    }
}
@media (max-width:449px){
    .carrousele{
        margin: 30px 0px;
    }
}